<h1>Apoie o Desenvolvimento do Vue.js</h1>

<p>
Vue.js é um projeto _open source_ sob licença MIT e completamente gratuito para usar.
Entretanto, a quantidade de esforço necessário para manter e desenvolver novos recursos para o prpjeto não é sustentável sem suporte financeiro apropriado. Você pode apoiar o desenvolvimento do Vue.js através destes métodos:
</p>

<h2 id="Doacoes-Unicas">Doações Únicas</h2>

<p>Nós aceitamos doações através destes canais:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Endereço:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Ajuda-Recorrente">Ajuda Recorrente</h2>

<p>
Ajudar de forma recorrente garante vantagens exclusivas, como ter seu nome listado no GitHub do Vue, ou ter o logo de sua companhia exibido neste _site_.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">Torne-se apoiador ou patrocinador via Patreon</a> (vai diretamente para suportar o trabalho em tempo integral do Evan You no Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Torne-se apoiador ou patrocinador via OpenCollective</a> (vai para um fundo com modelo de gastos transparente para suportar esforços da comunidade e eventos)
  </li>
</ul>

<h2>Patrocinadores de Destaque Atuais:</h2>

<h3>Patreon Platina</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Platina</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 3; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon Ouro</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Ouro</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
Se você está rodando um negócio e utilizando Vue em um produto que gera renda, faz sentido para seu negócio suportar o desenvolvimento do Vue: <b>isso garante que o projeto que seu produto depende se mantenha saudável e ativamente mantido.</b> Isso também pode ajudar sua exposição na comunidade Vue e tornar mais fácil atrair desenvolvedores Vue.
</p>

<p>
Se você é um usuário individual e tem curtido a produtividade de usar Vue, considere uma doação como um sinal de seu apreço - como pagar um café de vez em quando :)
</p>
