<li class="nav-dropdown-container language">
  <a class="nav-link">Traduções</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Chinês</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Coreano</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Francês</a></li>
    <li><a href="https://vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Inglês</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Japonês</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Português</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Russo</a></li>
    <li><a href="https://vi.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Vietnamita</a></li>
    <li><a href="https://es.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Espanhol</a></li>
    <li><a href="https://docs.vuejs.id/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Bahasa Indonesia</a></li>
  </ul>
</li>
